<app-navbar-header></app-navbar-header>

<body>  
    <br /> <br /> <br /><br />
    <section class="text-dark pt-5 mg-auto">
      <div class="container row">
        <h2><u>Bestellvorlagen Übersicht:</u></h2>
        <div>
                <div *ngFor="let groupName of groupedVorlagen | keyvalue" class="col-lg-8 col-md-12 pb-3">
                  <div class="card pt-3 container">
                    <button class="btn btn-style" (click)="toggleProducts(groupName.key, true)"> <h3>Vorlage: {{ groupName.key }}  
                      <i class="bi bi-chevron-down"></i></h3></button>
                    
                    <div *ngIf="isSelected(groupName.key)">
                      <br />  
                      <ng-container *ngFor="let produkt of groupName.value; let i = index">
                        <table class="table table-striped" *ngIf="!produkt.id.produkt.hb">
                          <tbody>
                            <ng-container *ngIf="i === 0 || groupedVorlagen[groupName.key][i - 1].id.produkt.produktgruppe.name !== produkt.id.produkt.produktgruppe.name">
                              <tr>
                                  <th colspan="4" style="background-color: #ADA9A9;">Kategorie: {{produkt.id.produkt.produktgruppe.name}}</th>
                                </tr>
                              <tr>
                                <th>Produkt</th>
                                <th>Frisch</th>
                                <th>Teigig</th>
                              </tr>
                            </ng-container>
                            <tr>
                                <td>{{produkt.id.produkt.name}}</td>
                                <td>
                                  <input type="text" class="form-control" [ngModel]="produkt.menge" disabled>
                                </td>
                                <td>
                                  <input type="text" class="form-control" [ngModel]="getHBValueFromFrischId(produkt.id.produkt)" disabled>
                                </td>
                                <td></td>
                            </tr>
                          </tbody>
                        </table>
                        </ng-container>
                    
                        <small>
                          <button style="float:right" class="btn btn-style deleteButton" data-toggle="modal" data-target="#exampleModal" *ngIf="isLeiter" (click)="toggleProducts(groupName.key, false)">Löschen</button>
                        </small>
                        <br /><br />
                      </div>
                  </div>
                </div>
              </div>
      </div>       

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Löschen</h2>
          </div>
          <div class="modal-body">
            Möchten Sie wirklich die Vorlage: <span style="font-style: italic; font-weight: bold;">"{{selectedGroupName}}"</span> löschen?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="loeschen()">Löschen</button>
            <button type="button" class="btn btn-secondary active" data-dismiss="modal">Abbrechen</button>
          </div>
        </div>
      </div>
     
  </div>