<app-navbar-header></app-navbar-header>

<body>  
    <br /> <br /> <br /><br />
    <section class="text-dark pt-5 mg-auto">
        <div class="container row">
            <h2><u>Bestellvorlagen Übersicht:</u></h2>

        <div *ngFor="let group of groupedVorlagen">
          <div class="p-2 col-sm-6">
            <div class="accordion">
              <div class="accordion-header" (click)="toggleAccordion(group)" [class.selected-accordion]="isAccordionOpen(group.vorlage.id.id)" class="card p-2">
                <button class="btn card" [class.selected-accordion]="isAccordionOpen(group.vorlage.id.id)"> Name der Vorlage{{ group.vorlage.id.id }}</button>
              </div>

              <div class="accordion-content" [hidden]="!isAccordionOpen(group.vorlage.id.id)">
                  <div *ngFor="let produkt of group.products">
                    <table class="table table-striped">
                      <tbody>
                              <tr>
                                <th colspan="4" style="background-color: #ADA9A9;">Kategorie: {{produkt.produktgruppe.name}}</th>
                              </tr>

                          <tr>
                              <th>Produkt</th>
                              <th>Frisch</th>
                              <th>Teigig</th>
                          </tr>
                          <tr>
                              <td>{{produkt.name}}</td>
                              <td>
                                <input type="text" class="form-control" [ngModel]="(produkt.hb ? '0' : (vorlage && vorlage.length > 0) ? vorlage[0].menge : '')" disabled>
                              </td>
                              <td>
                                <input type="text" class="form-control" [ngModel]="(produkt.hb ? vorlage[0].menge : '0')" disabled>
                              </td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                  <button style="float:right" class="btn btn-style deleteButton" data-toggle="modal" data-target="#exampleModal">Löschen</button>
              </div>
            </div>
          </div>
        </div>
        </div>       
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Löschen</h2>
          </div>
          <div class="modal-body">
            Möchten Sie wirklich die Vorlage "Name" löschen?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Löschen</button>
          </div>
        </div>
      </div>
  </div>
</body>
