<div class="nachricht-container">
    <div class="nachricht-header">
      <button class="new-message-button">+ Neue Nachricht verfassen</button>
      <button class="filter-button">Filtern</button>
    </div>
  
    <div class="nachricht-list">
      <div class="nachricht-item">
        <h4>1</h4>
        <p>2</p>
      </div>
      <div class="nachricht-item">
        <h4>13</h4>
        <p>2</p>
      </div>
      <div class="nachricht-item">
        <h4>115</h4>
        <p>2</p>
      </div>
      <div class="nachricht-item">
        <h4>112535</h4>
        <p>21513</p>
      </div>
    </div>
  </div>
  