<app-zentrale-navbar (newItemEvent)="toggleNavbar($event)"></app-zentrale-navbar>
<div style="padding: 25px 0px; display: flex; align-items: center; background: linear-gradient(to bottom, #f0f0f0, white);">
  <button style="margin-left: 20px; color: rgb(255, 94, 94); text-decoration: none;" type="button" class="btn btn-link" [routerLink]="['/zentrale']">
    <i class="bi bi-arrow-left"></i>Zurück
  </button>
  <h1 style="margin: 0 auto; font-size: 35px;">Bestellungen</h1>
</div>

<div style="margin-left: 20px;overflow-wrap: break-word;" class="d-flex justify-content-center align-items-center" [style.margin-right.px]="navbarToggle ? 20 : 240">
  <div class="row mt-4">
    <div class="col-12" *ngFor="let firmaName of firmenNamen">
      <h2 class="title">{{ firmaName }}</h2>  
      <div class="row">
        <ng-container *ngFor="let filiale of filialenMitFirma">
          <div class="col-md-4 col-sm-6 mb-4" *ngIf="filiale.firma.name === firmaName">
            <div class="box" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectFiliale(filiale)">
              <h2>{{ filiale.name }}</h2>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12" *ngIf="filialenOhneFirma.length > 0">
      <h2 class="title">Filialen ohne Firma</h2>
      <div class="row">
        <ng-container *ngFor="let filiale of filialenOhneFirma">
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="box" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectFiliale(filiale)">
              <h2>{{ filiale.name }}</h2>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- MODAL  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" *ngIf="selectedFiliale">
        <h2 class="modal-title" id="exampleModalLabel"> Datum für Filiale {{ selectedFiliale.name }} auswählen</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #close></button>
      </div>
      <div class="modal-body">
        <mat-calendar
        [(selected)]="selectedDateBestellung"
        [startAt]="currentDate"
        (selectedChange)="onDateSelectBestellung($event)"
        class="custom-calendar"
        ></mat-calendar>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="typeBestellung()">Bestellung ansehen</button>
      </div>
    </div>
  </div>
</div>