<app-navbar-header></app-navbar-header>
<body>
  <br /> <br /> <br /><br />

  <section class="text-dark pt-5 mg-auto card">
    <div class="container-fluid card pt-3">
      <h1 style="color:rgb(128,128,128); text-align: center;">Posteingang</h1>
    </div>

    <div class="row">
      <div class="col-md-3 p-3 card">
        <ul id="ueberschriftenListe" class="list-group">
          <li *ngFor="let nachricht of nachrichten"
          (click)="selectNachricht(nachricht)"
          class="list-group-item"
          [class.active]="nachricht === selectedNachricht"
          [class.read]="nachricht.gelesen">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-1" >
              <a class="ueberschrift-link" data-content="Inhalt 2" *ngIf="!nachricht.gelesen == true">{{ nachricht.id.nachricht.betreff }}</a>
              <p class="ueberschrift-link" data-content="Inhalt 2" *ngIf="nachricht.gelesen == true"><span style="color: rgb(113, 113, 113);">{{ nachricht.id.nachricht.betreff }}</span></p>
            </h2>
            <small class="text-muted">{{ nachricht.id.nachricht.datum}}</small>
          </div>
          <hr class="linie">
      </li>      

        </ul>
      </div>

      <!-- Rechte Spalte: -->
      <div class="col-md-9 card" *ngIf="selectedNachricht">
        <div class="container p-3">
          <p style="text-align: right;">
            <small class="text-muted">{{selectedNachricht.id.nachricht.datum}}</small>
          </p>
          <h2 class="mb-1">{{selectedNachricht.id.nachricht.betreff}}</h2>
          
          <hr>
          <div class="Nachrichten inhalt">
            {{selectedNachricht.id.nachricht.nachricht}}
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
