<app-navbar-header></app-navbar-header>
<body>  

  <br /> <br /> <br /><br />

  <section class="text-dark pt-5 mg-auto card">
    <div class="container-fluid card pt-3">
        <h1 style="color:rgb(128,128,128);">Nachrichten</h1>
       
    </div>

      <div class="row">
          <div class="col-md-3 pt-4 card" style="cursor: pointer;">
              <ul id="ueberschriftenListe">
                <!-- Linke Spalte: Betreff + Datum -->
                  <li *ngFor="let nachricht of nachrichten" (click)="selectNachricht(nachricht)">
                    <h1>
                      <a class="ueberschrift-link" data-content="Inhalt 2">{{nachricht.id.nachricht.betreff}}</a>
                    </h1>
                    <hr style="width: 360px; margin-left: -40px;">
                  </li>
              </ul>
          </div>

          <!-- Rechte Spalte: -->
          <div class="col-md-9 card" *ngIf="selectedNachricht">
            <div class="container p-3">
              <p style="text-align: right;"><u>{{selectedNachricht.id.nachricht.datum}}</u></p>
              <h2>{{selectedNachricht.id.nachricht.betreff}}</h2>
              <hr >
              <div class="Nachrichten inhalt">
                {{selectedNachricht.id.nachricht.nachricht}}
              </div>
            </div>
          </div>
      </div>

  </section>
  

</body>
