<app-navbar-header></app-navbar-header>
<body>  

  <br /> <br /> <br /><br />

  <section class="text-dark pt-5 mg-auto card">
    <div class="container-fluid card pt-3">
        <h1 style="color:rgb(128,128,128);">Nachrichten</h1>
        {{nachrichten}}
    </div>
      <div class="row">
          <div class="col-md-3 pt-4 card">
              <ul id="ueberschriftenListe">
                <!-- Linke Spalte: Betreff + Datum -->
                  <li><h1><a class="ueberschrift-link" data-content="Inhalt 1">Betreff 1</a></h1></li>
                  <li><h1><a class="ueberschrift-link" data-content="Inhalt 2">Betreff 2</a></h1></li>
              </ul>
          </div>
          <!-- Rechte Spalte: -->
          <div class="col-md-9 card">
              <!--Betreff 1 schreiben (rechte Ecke Datum ausgeben) + Nachricht ausgeben-->
                
              
          </div>
      </div>

  </section>

</body>
