<app-navbar-header></app-navbar-header>
<body>
    <br /> <br /> <br /><br />
    <section class="text-dark pt-5 mg-auto">
        <div class="container-fluid card pt-3 pb-3">
            <h1>Abgeschlossene Kundenbestellungen</h1>
            <label for="year">Jahr:</label>

            <div class="form-group">
                <select class="form-control" id="year" [(ngModel)]="selectedYear" (change)="filterKundenbestellungen()">
                <option value= undefined>- -</option>
                <option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="month">Monat:</label>
                <select class="form-control" id="month" [(ngModel)]="selectedMonth" (change)="filterKundenbestellungen()">
                    <option value= undefined>- -</option>
                <option *ngFor="let month of uniqueMonths" [value]="month">{{ month }}</option>
                </select>
            </div>
        </div>
<br />
        <div class="container-fluid">
            <h2>Abgeschlossene in diesem Monat</h2>
            <div>
                <div *ngIf="groupedKundenbestellungen.length > 0">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let group of groupedKundenbestellungen">
                            <div class="card pt-3 container">
                                <u>Datum: {{ formattedDate(group) }}</u>
                                <table class="table table-striped">
                                    <tr>
                                        <th scope="col">Auftragsname</th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr *ngFor="let kunde of group.kunden">
                                        <td scope="row">{{ kunde }}</td>
                                        <td> <button type="submit" class="btn btn-style detailButton" data-toggle="modal" [attr.data-target]="'#detailKundenname-' + kunde">Details</button> </td>
                                        
                                        <!-- Pop-up-Details-ANFANG -->
                                        <ng-container *ngFor="let Kundenbestellung of kundenbestellung;">
                                            <div class="modal fade bd-example-modal-lg" [attr.id]="'detailKundenname-' + kunde" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-dismiss="modal"></button>
                                                    </div>
                                                <div class="modal-body">
                                                    <h1 class="modal-title">Kundenbestellung am ({{ filialenName }})</h1>
                                                    <hr>
                                                <!-- Inhalt -->
                                                <div>
                                                        <p style="color:rgb(128,128,128);">
                                                            Auftragsname:
                                                                <span class="card p-1">{{kunde}}</span>
                                                            <br />
                                                            Datum: 
                                                                <span class="card p-1">{{ formattedDate(group) }}</span> <br />
                                                            Bestellung:
                                                        </p>
                                                </div>                                        
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <ng-container *ngIf="!currentCategory || currentCategory !== Kundenbestellung.id.produkt.produktgruppe.name">
                                                                <tr>
                                                                    <th colspan="4" style="background-color: #ADA9A9;">Kategorie: {{  Kundenbestellung.id.produkt.produktgruppe.name }}</th>
                                                                </tr>
                                                            </ng-container>
                                                            <tr>
                                                                <th>Produkt</th>
                                                                <th>Frisch</th>
                                                                <th>Teigig</th>
                                                            </tr>
                                                            <tr *ngFor="let kunde of group.data; let j = index">
                                                                <td>{{kunde.id.produkt.name}}</td>
                                                                <td>
                                                                    <input type="text" class="form-control" [ngModel]="kunde.id.produkt.hb ? '0' : kunde.menge" disabled>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control"[ngModel]="kunde.id.produkt.hb ? kunde.menge : '0'" disabled>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary active" style="background-color: #8C5263" data-dismiss="modal">Zurück</button>
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                            </ng-container>
                                            <!-- Pop-up-ENDE -->
                                    </tr>
                                </table>
                            </div>  
                        </div>
                    </div>
                </div>
            </div> 
        </div>       
    </section>
</body>
