<app-navbar-header></app-navbar-header>
<body>
    <br /> <br /> <br /><br />
    <section class="text-dark pt-5 mg-auto">
        <div class="container-fluid card pt-3 pb-3">
            <h1>Abgeschlossene Kundenbestellungen</h1>
            <label for="year">Jahr:</label>

            <div class="form-group">
                <select class="form-control" id="year" [(ngModel)]="selectedYear">
                    <option *ngFor="let year of uniqueYears" [value]="year">{{ year }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <br />
                <label for="month">Monat:</label>
                <select class="form-control" id="month" [(ngModel)]="selectedMonth">
                    <option *ngFor="let month of uniqueMonths" [value]="month" [attr.selected]="month.toString() === datum.getMonth().toString() ? true : null">
                      {{ month }}
                    </option>
                  </select>
                  
            </div>
        </div>
<br />
        <div class="container-fluid">
            <h2>Abgeschlossene in...</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let bestellung of filterKundenbestellungen(selectedYear, selectedMonth)">
                        <div class="card pt-3 container">
                            <u>Datum: {{ bestellung.id.datum }}</u>
                            <table class="table table-striped">
                                <tr>
                                    <th scope="col">Auftragsname</th>
                                    <th scope="col">Telefonnummer</th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <td scope="row">{{ bestellung.id.kunde }}</td>
                                    <td scope="row">{{ bestellung.telefonnummer }}</td>
                                    <td>
                                        <button type="button" class="btn btn-style detailButton" data-toggle="modal" [attr.data-target]="'#detailKundenname-' + bestellung.id.kunde">Details</button>
                                    </td>
                                    <!-- Pop-up-Details-ANFANG -->
                                    <ng-container *ngFor="let detailKundenbestellung of getDetailKundenbestellung(bestellung.id.kunde, bestellung.id.datum)">
                                        <div class="modal fade bd-example-modal-lg" [attr.id]="'detailKundenname-' + bestellung.id.kunde" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                <h1 class="modal-title">Kundenbestellung ({{ filialenName }})</h1>
                                                <hr>
                                                <!-- Inhalt -->
                                                <div>
                                                    <p style="color:rgb(128,128,128);">
                                                        Auftragsname:
                                                            <span class="card p-1">{{bestellung.id.kunde}}</span>
                                                        <br />
                                                        Datum: 
                                                            <span class="card p-1">{{bestellung.id.datum}}</span> <br />
                                                        Telefonnummer: 
                                                            {{bestellung.telefonnummer}} <br /><br />
                                                        Bestellung:
                                                    </p>
                                                </div>                                        
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <ng-container>
                                                                <tr>
                                                                <th colspan="4" style="background-color: #ADA9A9;">Kategorie: {{  bestellung.id.produkt.produktgruppe.name }}</th>
                                                                </tr>
                                                            </ng-container>
                                                            <tr>
                                                                <th>Produkt</th>
                                                                <th>Frisch</th>
                                                                <th>Teigig</th>
                                                            </tr>
                                                            <tr *ngFor="let kunde of getDetailKundenbestellung(bestellung.id.kunde, bestellung.id.datum); let j = index">
                                                                <td>{{kunde.id.produkt.name}}</td>
                                                                <td>
                                                                    <input type="text" class="form-control" [ngModel]="kunde.id.produkt.hb ? '0' : kunde.menge" disabled>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control"[ngModel]="kunde.id.produkt.hb ? kunde.menge : '0'" disabled>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary active" style="background-color: #8C5263" data-dismiss="modal">Zurück</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!-- Pop-up-ENDE -->
                                </tr>
                            </table>
                        </div>  
                    </div>
            </div> 
        </div>       
    </section>
</body>
