<nav class="header navbar navbar-expand-lg navbar-light bg-light py-1 fixed-top">
  <div class="container">
    <!-- Logo -->
    <input type="image" class="logo navbar-brand" [src]="gradwohlLogo">

    <!-- Mobile-Toggle-Button mit größerem Abstand zum rechten Rand -->
    <button class="navbar-toggler mr-4" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
      aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Handy-Ansicht: -->
    <div class="collapse navbar-collapse d-lg-none" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <!-- Hier Handy-Inhalte hinzufügen -->
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Antonio Molina Gradischnig</a>
          </li>
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Nachrichten</a>
          </li>
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Einstellungen</a>
          </li>
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>

    <!-- Webansicht: -->
    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-end" id="navmenu">
      <ul class="navbar-nav ml-auto">
        <!-- Hier Desktop-Inhalte hinzufügen -->
        <li class="nav-item" *ngIf="!isMobile">
          <a href="#" class="nav-link">
            <!-- HAAA warum? -->
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-bell"
              viewBox="0 0 16 16" style="vertical-align: -18px;">
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
            </svg>
          </a>
        </li>

        <li class="nav-item user-dropdown" *ngIf="!isMobile">
          <a href="#" class="nav-link user-icon">
            <span class="user-circle">AM</span>
            <div class="user-dropdown">
              <!-- Klappmenü mit weiteren Funktionen -->
              <ul>
                <li><a href="#">Einstellungen</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
