<nav class="header navbar navbar-expand-lg navbar-light bg-light py-1 fixed-top">
  <div class="container">
    <!-- Logo -->
    <a href="/">
      <input type="image" class="logo navbar-brand" [src]="gradwohlLogo">
    </a>
    <!-- Mobile-Toggle-Button mit größerem Abstand zum rechten Rand -->
    <button class="navbar-toggler mr-4" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
      aria-controls="navmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Handy-Ansicht: -->
    <div class="container">
      <div class="collapse navbar-collapse d-lg-none" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="isMobile">
            <!-- Hinzufügen der Klasse "dropdown" für korrektes Styling -->
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Kundenbestellungen 
            </a>
            <!-- Dropdown-Elemente -->
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a href="kundenbestellungsUebersicht" class="dropdown-item"><i class="bi bi-chevron-compact-right"></i>Laufende Aufträge</a>
              </li>
              <li class="nav-item">
                <a href="#" class="dropdown-item"><i class="bi bi-chevron-compact-right"></i>Abgeschlossene Aufträge</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Nachrichten</a>
          </li>
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Dienstplan</a>
          </li>
          <li class="nav-item" *ngIf="isMobile">
            <a href="#" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    

    <!-- Webansicht: -->
    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-end" id="navmenu">
      <ul class="navbar-nav ml-auto">
        <!-- Hier Desktop-Inhalte hinzufügen -->
        <li class="nav-item nachrichtenStyle" *ngIf="!isMobile">
          <a class="nav-link">
            <button type ="button" class="position-relative nachrichtenAnzeigePunkt" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <i class="bi bi-bell">
                  <span class="position-absolute top-100 start-300 translate-middle p-2 bg-danger border rounded-circle">
                  </span>
                </i>
            </button>
          </a>
        </li>

        <li class="nav-item user-dropdown" *ngIf="!isMobile">
          <a href="#" class="nav-link user-icon">
            <div class="user-info" *ngIf="loggedInUserName">
                <span class="user-circle">{{ loggedInUserName }}</span>
            </div>
            <div class="user-dropdown">
              <!-- Klappmenü mit weiteren Funktionen -->
              <ul>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h2>Nachrichten Ansicht</h2>
    <div class="card p-2">
      <h2>Überschrift</h2>
      <p>Test hehe....</p>
    </div>
  </div>
</div>
