<div class="toggle-button" *ngIf="isNavbarCollapsed" (click)="toggleNavbar('')">
  <button class="logoutbtn" (click)="logout()">
    <i class="bi bi-door-open" style="font-size: 30px; float: right;"><u style="font-size: 15px;vertical-align:3px;">Logout</u></i>
  </button>
  <i style="font-size:30px;" class="bi bi-toggle-off"></i>
</div>
<div class="vertical-navbar" [ngClass]="{ 'collapsed': isNavbarCollapsed }">
  <div class="vertical-navbar">
    <div class="toggle-button" (click)="toggleNavbar('')" *ngIf="!isNavbarCollapsed">
      <button class="logoutbtn" (click)="logout()">
        <i class="bi bi-door-open" style="font-size: 30px; float: right;"><u style="font-size: 15px;vertical-align:3px">Logout</u></i>
      </button>
      <i style="font-size:30px;" class="bi bi-toggle-on"></i>
    </div>
    <div class="nav-item" [routerLink]="['/produkte/verwalten']">Produkte</div>
    <div class="nav-item" [routerLink]="['/bestellungen/verwalten']">Bestellübersicht</div>
    <div class="nav-item" [routerLink]="['/nachricht/verwalten']">Nachrichten</div>
    <div class="nav-item" [routerLink]="['/dienstplan/verwalten']">Dienstpläne</div>
    <div class="nav-item" [routerLink]="['/mitarbeiter/verwalten']">Mitarbeiter</div>
    <div class="nav-item" [routerLink]="['/filiale/verwalten']">Filiale</div>
    <div class="nav-item" [routerLink]="['/firma/verwalten']">Lieferfirmen</div>
  </div>
</div>
