<div class="vertical-navbar">
    <div class="nav-item" routerLink="/produkte">Produkte</div>
    <div class="nav-item" routerLink="/produkte">Produktegruppen</div>
    <div class="nav-item" routerLink="/bestelluebersicht">Bestellübersicht</div>
    <div class="nav-item" routerLink="/nachrichten">Nachrichten</div>
    <div class="nav-item" [routerLink]="['/dienstplan/verwalten']">Dienstpläne</div>
    <div class="nav-item" [routerLink]="['/mitarbeiter/verwalten']">Mitarbeiter</div>
    <div class="nav-item" routerLink="/filiale">Filiale</div>
    <div class="nav-item" routerLink="/firmen">Firmen</div>
  </div>
  