<div class="toggle-button" *ngIf="isNavbarCollapsed" (click)="toggleNavbar('')">
  <i style="font-size:30px;" class="bi bi-toggle-off"></i>
</div>

<div class="vertical-navbar" [ngClass]="{ 'collapsed': isNavbarCollapsed }">
  <div class="vertical-navbar">
    <div class="toggle-button" (click)="toggleNavbar('')" *ngIf="!isNavbarCollapsed">
      <i style="font-size:30px;" class="bi bi-toggle-on"></i>
    </div>
    <div class="nav-item" [routerLink]="['/produkte/verwalten']">Produkte</div>
    <div class="nav-item" [routerLink]="['/bestellungen/verwalten']">Bestellübersicht</div>
    <div class="nav-item" [routerLink]="['/nachricht/verwalten']">Nachrichten</div>
    <div class="nav-item" [routerLink]="['/dienstplan/verwalten']">Dienstpläne</div>
    <div class="nav-item" [routerLink]="['/mitarbeiter/verwalten']">Mitarbeiter</div>
    <div class="nav-item" [routerLink]="['/filiale/verwalten']">Filiale</div>
    <div class="nav-item" [routerLink]="['/firma/verwalten']">Lieferfirmen</div>
  </div>
</div>
