.logo {
  max-width: 100%;
}

.box {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 40px;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 10px;
}

h2{
  font-size: 23px;
}

.box:hover {
  background-color: #d9d9d9;
  border-radius: 35px;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .box {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .box {
    margin-bottom: 20px;
  }
}

.logoutbtn{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;

}


  