<div class="container">
    <div class="text-center p-3">
      <img [src]="gradwohlLogo" class="logo">
    </div>
    <div class="row mt-4" style="justify-content: center; align-items: center;">
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/produkte/verwalten']">
        <div class="box">
            <h2>Produkte</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="box">
            <h2>Bestellübersicht</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="box">
            <h2>Nachrichten</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/dienstplan/verwalten']">
        <div class="box">
            <h2>Dienstpläne</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/mitarbeiter/verwalten']">
        <div class="box">
            <h2>Mitarbeiter</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/filiale/verwalten']">
        <div class="box">
            <h2>Filiale</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" [routerLink]="['/firma/verwalten']">
        <div class="box">
            <h2>Lieferfirmen</h2>
        </div>
      </div>
    </div>
  </div>
  