<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LandingPage</title>
</head>
<body>
  <br /> <br /> <br />
  <section class="p-1 text-dark pt-5 mg-auto">
    <div class="container" style="padding-left: 40px; padding-right: 40px;">
      <div class="row">
        <div class="col-md mb-1">
          <div class="card boxOnTop">
            <div class="card-body d-flex align-items-center">
              <img src="assets/img/LandingPage/BrotVektor.png" class="img-fluid mr-4" style="margin-right: 10px;">
              <h3 class="text-inBox m-0">Heutige Kundenbestellungen</h3>
              <span class="little-box ml-3">2</span>
            </div>
          </div>
        </div>

        <div class="col-md mb-1">
          <div class="card boxOnTop">
            <div class="card-body d-flex align-items-center">
              <img src="assets/img/LandingPage/WarenbestellungVektor.png" class="img-fluid mr-2">
              <h3 class="text-inBox m-0">Warenbestellung</h3>
              <span class="little-box ml-3">
                offen
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container" style="padding-left: 1px; padding-right: 1px;">
      <div class="container">
        <u><p style="margin-right: 20px;">Übersicht der Warenbestellungen, der Filiale - <span style="font-style: italic;">XY</span></p></u>
        <br />
        <div class="row d-flex flex-lg-row flex-column">
          <div class="col-lg-2 mb-lg-0 mb-3">
            <p style="font-size: 14px">Bestellungen einsehen vom...</p>

            <div class="calendar-container">
              <mat-calendar
                [(selected)]="selectedDate"
                [startAt]="currentDate"
                (selectedChange)="onDateSelect($event)"
                class="custom-calendar"
              ></mat-calendar>
            </div>

            <p class="selected-date" *ngIf="selectedDate">Ausgewähltes Datum: <br />{{ selectedDate | date }}</p>
            <br />

            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button"
              id="book-dropdown" data-toggle="dropdown" style="background-color: #8C5263; color: white;"> Bestellung aufgeben</button>
              <div class="dropdown-content">
                <a href="#">Generieren lassen</a>
                <a href="#">Händisch eingeben</a>
              </div>
            </div>
          </div>

          <div class="col-lg-7 mb-lg-0 mb-3" style="background-color: lightyellow;">
            Data


          </div>

          <div class="col-lg-2">
            <div class="sidebar container naviOnRightSide">
              <h1 style="color:rgb(128,128,128);">Übersicht</h1>
              <ul class="menu">
                <li (click)="toggleKundenbestellungDropdown()">
                  <a href="#">

                    <svg *ngIf="dropdownUp" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>

                    <svg *ngIf="!dropdownUp" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                    </svg>
                    Kundenbestellungen</a>
                  <ul *ngIf="isKundenbestellungDropdown" class="home-dropdown-menu">
                    <li><a href="#">
                                    <u>Gesamtübersicht</u>
                        </a>
                        <br />
                        <a href="#">
                                    <u>Neue Aufnehmen</u>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="sidebar container naviOnRightSide">
              <h1 style="color:rgb(128,128,128);">Mein Profil</h1>
              <ul class="menu">
                <li><a href="#">Nachrichten</a></li>
                <li><a href="/dienstplan">Mein Dienstplan</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>


  </section>

</body>
</html>

