<ng-container *ngIf="role != 'Zentrale'">
  <app-navbar-header></app-navbar-header>
</ng-container>
<ng-container *ngIf="role == 'Zentrale'">
  <app-zentrale-navbar (newItemEvent)="toggleNavbar($event)"></app-zentrale-navbar>
  <div style="padding: 25px 0px; display: flex; align-items: center; background: linear-gradient(to bottom, #f0f0f0, white);">
    <button style="margin-left: 20px; color: rgb(255, 94, 94); text-decoration: none;" type="button" class="btn btn-link" [routerLink]="['/bestellungen/verwalten']">
      <i class="bi bi-arrow-left"></i>Zurück
    </button>
    <h1 style="margin: 0 auto; font-size: 35px;">Bestellungen</h1>
  </div>
</ng-container>

<!--<body [style.margin-right.px]="navbarToggle ? 20 : 240">-->
<body>
  <ng-container *ngIf="role != 'Zentrale'">
    <br /> <br /><br /><br />
  </ng-container>
  <section class="text-dark pt-5 mg-auto">
    <div class="container-fluid pl-2">
      <u><h2>Bestellung für den <span style="font-weight: bold;">{{date}}</span></h2></u>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <form class="form-row align-items-center">
            <div class="form-group">
              <div class="input-group">
                <input id="produktSuche" type="text" placeholder="Nach Produktnamen suchen..." class="form-control"  (input)="searchProduct($event)">
                <div class="input-group-append">
                  <button class="btn btn-outline-dark" type="button" id="searchButton" disabled>
                    <i class="bi bi-search" style="font-size: 20px;"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-3 col-sm-12">
          <button class="btn mb-2 btn-block" style="background-color: #d6bdc5;padding: 12px; margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal">Bestellvorlagen-Archiv</button>
        </div>    
      </div>


      <!-- Pop-up-ANFANG -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <h2>Bestellvorlage wählen...</h2>

                <div class="card p-2">
                  <div *ngFor="let groupName of groupedVorlagen | keyvalue">
                    <div class="card pt-3 container">
                     <button class="btn btn-style" (click)="toggleProducts(groupName.key)"> 
                      <i class="bi bi-chevron-down"> Vorlage: {{ groupName.key }}</i></button>
                     
                    <div *ngIf="isSelected(groupName.key)">
                      <br />  
                      <ng-container *ngFor="let produkt of groupName.value; let i = index">
                        <table class="table table-striped" *ngIf="!produkt.id.produkt.hb">
                          <tbody>
                                  <ng-container *ngIf="i === 0 || groupedVorlagen[groupName.key][i - 1].id.produkt.produktgruppe.name !== produkt.id.produkt.produktgruppe.name">
                                    <tr>
                                      <th colspan="4" style="background-color: #ADA9A9;">Kategorie: {{produkt.id.produkt.produktgruppe.name}}</th>
                                    </tr>
                                    <tr>
                                      <th>Produkt</th>
                                      <th>Frisch</th>
                                      <th>Teigig</th>
                                    </tr>
                                  </ng-container>
                                    <tr>
                                        <td>{{produkt.id.produkt.name}}</td>
                                        <td>
                                          <input type="text" class="form-control" [ngModel]="produkt.menge" disabled>
                                        </td>
                                        <td>
                                          <input type="text" class="form-control" [ngModel]="getHBValueFromFrischId(produkt.id.produkt)" disabled>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-container>
                      </div>
                    </div>
                    </div>
                </div>   
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="insertVorlage(groupedVorlagen)">Auswählen</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Pop-up-ENDE -->
      <br />
 <!-- Kategorien abbilden-->
 <div class="container2"  [style.margin-right.px]="navbarToggle ? 0 : 100">
  <button class="btn stylingButton"
  [ngClass]="{'selected': ausgewaehlteProduktgruppe === null }"
  (click)="onProduktgruppeClicked(null)">
    Alle Produkte
  </button>
    <button class="btn stylingButton" *ngFor="let produktgruppe of produktgruppen" 
                    [ngClass]="{'selected': ausgewaehlteProduktgruppe === produktgruppe }"
                    (click)="onProduktgruppeClicked(produktgruppe)">
        
        {{ produktgruppe.name }}
    </button>
</div>
      <hr>
      <div class="row">
        <!-- Produkte zeigen-->
        <div class="col-sm-12">
          <div class="table-container">
            <div class="scrollable-table">
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="sticky" style="color: rgb(157, 154, 154);">Produkt</th>
                        <th scope="col" class="sticky" style="color: rgb(157, 154, 154);">Frisch</th>
                        <th scope="col" class="sticky" style="color: rgb(157, 154, 154);">Teigig</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produkt of angezeigteProdukte">
                        <td class="card" style="background-color: whitesmoke">{{ produkt.id.produkt.name }}</td>
                        <td *ngIf="produktInputs[produkt.id.produkt.name]">
                          <input *ngIf="produkt.id.produkt.produktgruppe.name == 'VK Brot Stangen'" type="number" min="0" step="0.5" 
                                 id="frisch_{{ produkt.id.produkt.name }}" 
                                 [(ngModel)]="produktInputs[produkt.id.produkt.name].frisch"
                                 (keypress)="validateInput($event, produkt.id.produkt.produktgruppe.name)"/>
                      
                          <input *ngIf="produkt.id.produkt.produktgruppe.name != 'VK Brot Stangen'" type="number" min="0" step="1" 
                                 id="frisch_{{ produkt.id.produkt.name }}" 
                                 [(ngModel)]="produktInputs[produkt.id.produkt.name].frisch"
                                 (keypress)="validateInput($event, produkt.id.produkt.produktgruppe.name)" />
                      </td>
                      <td *ngIf="produktInputs[produkt.id.produkt.name]">
                          <input *ngIf="produkt.id.produkt.produktgruppe.name == 'VK Brot Stangen'" type="number" min="0" step="0.5" 
                                 id="teigig_{{ produkt.id.produkt.name }}" 
                                 [(ngModel)]="produktInputs[produkt.id.produkt.name].teigig"
                                 (keypress)="validateInput($event, produkt.id.produkt.produktgruppe.name)" 
                                 [readonly]="!isReadOnly(produkt.id.produkt.id)" />
                      
                          <input *ngIf="produkt.id.produkt.produktgruppe.name != 'VK Brot Stangen'" type="number" min="0" step="1" 
                                 id="teigig_{{ produkt.id.produkt.name }}" 
                                 [(ngModel)]="produktInputs[produkt.id.produkt.name].teigig"
                                 (keypress)="validateInput($event, produkt.id.produkt.produktgruppe.name)" 
                                 [readonly]="!isReadOnly(produkt.id.produkt.id)" />
                      </td>
                      </tr>
                </tbody>
                </table>
            </div>                    
        </div>
        </div>
      </div>
      
      <button class="btn btn-success mb-2 btn-block" style=" padding: 10px; margin-right: 20px;" (click)="save()">Warenbestellung Speichern</button>

<!-- Button Übersich-Warenbestellung -->
<button class="btn btn-primary mb-2 btn-block" style="padding: 10px;" data-bs-toggle="modal" data-bs-target="#summaryModal">Übersicht der Auswahl</button>

<div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="modal-title" id="summaryModalLabel">
          <u>Übersicht der eingegebenen Mengen für den <span style="font-weight: bold;">{{date}}
          </span></u></h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Produkt</th>
              <th scope="col">Frisch</th>
              <th scope="col">Teigig</th>
            </tr>
          </thead>
          <tbody>
           <!-- Produkte anzeigen -->
           <ng-container *ngFor="let produkt of angezeigteProdukte">
            <tr *ngIf="produktInputs[produkt.id.produkt.name].frisch > 0 || produktInputs[produkt.id.produkt.name].teigig > 0">
              <td class="card" style="background-color: whitesmoke">{{ produkt.id.produkt.name }}</td>
              <td>{{ produktInputs[produkt.id.produkt.name].frisch || 0 }}</td>
              <td>{{ produktInputs[produkt.id.produkt.name].teigig || 0 }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success mb-2 btn-block" style=" padding: 10px; margin-right: 20px;" (click)="save()">Speichern</button>
      </div>
    </div>
  </div>
</div>

    </div>
  </section>
</body>
